.idea
build
dist
env
.venv
venv
transpilex.egg-info

html

php
laravel
cakephp
codeigniter
symfony
node
django
flask
core
mvc
blazor
ror
spring
fastapi

php-vite
laravel-vite
cakephp-vite
codeigniter-vite
symfony-vite
node-vite
django-vite
flask-vite
core-vite
mvc-vite
blazor-vite
ror-vite
spring-vite
fastapi-vite

php-tw
laravel-tw
cakephp-tw
codeigniter-tw
symfony-tw
node-tw
django-tw
flask-tw
core-tw
mvc-tw
blazor-tw
ror-tw
spring-tw

php-tw-vite
laravel-tw-vite
cakephp-tw-vite
codeigniter-tw-vite
symfony-tw-vite
node-tw-vite
django-tw-vite
flask-tw-vite
core-tw-vite
mvc-tw-vite
blazor-tw-vite
ror-tw-vite
spring-tw-vite

package.json

**/__pycache__/