.idea
build
dist
env
.venv
venv
transpilex.egg-info

html

php
laravel
cakephp
codeigniter
symfony
node
django
flask
core
mvc
blazor
ror
spring
fastapi
yii
aiohttp

php-vite
laravel-vite
cakephp-vite
codeigniter-vite
symfony-vite
node-vite
django-vite
flask-vite
core-vite
mvc-vite
blazor-vite
ror-vite
spring-vite
fastapi-vite
yii-vite
aiohttp-vite

package.json

**/__pycache__/